/* App info specific styles */
.app-description, .app-tech {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.version-info {
    margin-top: 2rem;
}

.version-info h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.version-info ul {
    list-style-type: none;
    padding-left: 0.5rem;
}

.version-info li {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.version-info li:before {
    content: "•";
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.info-label {
    font-weight: 500;
    margin-right: 0.5rem;
} 